%h2 Games created by Aaron McLeod

%p
  Here you can find a number of my game projects. Ranging from game jam entries to titles I worked on over a number of months.

.row
  .sideBySide
    %h3
      %a{ href: 'http://agmprojects.com' } Blog
  .sideBySide
    %h3
      %a{ href: 'http://agmprojects.com/contact' } Contact

- projects = Project.all

- projects.each do |project|
  .row.project
    %h2
      %a{ href: project.url, class: project.download? ? 'project-link' : '' }= project.name
    - if project.image?
      %a.img-link{ href: project.url, class: project.download? ? 'project-link' : '' }
        %img{ src: "images/#{project.image}", alt: project.name }
    - if project.description?
      %h4 Description
      %p
        = project.description
        - if project.instructions?
          %pre= project.instructions

    - if project.challenges
      %h4 Challenges
      - project.challenges.each do |c|
        %p= c

    - if project.credits
      %h4 Credits
      %ul
        - project.credits.each do |row|
          %li= row