%h1 Projects

%p
  %a{ href: 'http://agmprojects.com' } Blog

- projects = Project.all

- projects.each do |project|
  .row.project
    %h2
      %a{ href: project.url, class: project.download? ? 'project-link' : '' }= project.name
    - if project.image?
      %a.img-link{ href: project.url, class: project.download? ? 'project-link' : '' }
        %img{ src: "images/#{project.image}", alt: project.name }
    - if project.description?
      %h4 Description
      %p
        = project.description
        - if project.instructions?
          %pre= project.instructions

    - if project.challenges
      %h4 Challenges
      - project.challenges.each do |c|
        %p= c