%h2 Games created by Aaron McLeod

%p
  The following games are projects that I have worked on.
  If you want to get in touch, you can reach me on
  %a{ href: 'http://twitter.com/agmcleod' } Twitter
  or can contact me on my
  %a{ href: 'http://agmprojects.com/contact' } site.
  My blog can also be found
  %a{ href: 'http://agmprojects.com'} here

- projects = Project.all

- projects.each do |project|
  .row.project
    %h2
      %a{ href: project.url, class: project.download? ? 'project-link' : '' }= project.name
    - if project.image?
      %a.img-link{ href: project.url, class: project.download? ? 'project-link' : '' }
        %img{ src: "images/#{project.image}", alt: project.name }
    - if project.description?
      %h4 Description
      %p
        = project.description
        - if project.instructions?
          %pre= project.instructions

    - if project.challenges
      %h4 Challenges
      - project.challenges.each do |c|
        %p= c

    - if project.credits
      %h4 Credits
      %ul
        - project.credits.each do |row|
          %li= row
