%h1= project.name

.container
  %h3 About

  - project.presskit.description.split(/\n+/).each do |bit|
    %p= bit

  %h3 Platforms

  %ul
    - project.presskit.platforms.each do |platform, link|
      %li
        %a{href: link}= platform

  - if project.presskit.video
    %h3 Trailer

    %iframe{ id: "ytplayer", type: "text/html",
      src: project.presskit.video,
      width: 560, height: 315,
      frameborder: 0 }


  %h3 Images

  %ul.images
    - project.presskit.images.each do |image_path|
      %li
        %img{src: "../../images/#{image_path}"}

  %p
    %a{href: "../../images/#{project.presskit.download_images}"} Download Full Resolution Images

  %h3 Credits

  %ul
    - project.credits.each do |name|
      %li= name